= simple_form_for @purchase, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :category_id, collection: Category.all {|c| [c.name, c]},
    label_method: :name,:value_method => :id, include_blank: false
  = f.input :price
  = f.input :date
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t("helpers.links.cancel"), purchases_path, :class => 'btn'
