= simple_form_for @purchase, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :group
  = f.input :price
  = f.input :date
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), purchases_path, :class => 'btn'
