- model_class = Purchase
.row
  .span10
    .page-header
      %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
    %table.table.table-striped
      %thead
        %tr
          %th= t '.name'
          %th= t '.group'
          %th= t '.price'
          %th= t '.date'
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @purchases.each do |purchase|
          %tr
            %td= link_to purchase.name, purchase_path(purchase)
            %td= purchase.group
            %td= number_to_currency purchase.price
            %td= purchase.date
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(purchase), :method => :delete, :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-mini btn-danger'
  .span2
    =render 'actions'
