!!! 5
%html
  %head
    %title= t '.title'
    = stylesheet_link_tag  'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t('.brand'), root_path, class: 'brand'
          .nav-collapse
            %ul.nav
              %li= link_to t('.purchases'), new_purchase_path
    .container
      .main
        -flash.each do |name, message|
          .alert{class: name == :notice ? 'alert-success' : 'alert-error' }
            =message
        = yield
